<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag "ham.jpg", height: "200"%>
    </div>
    <div class="col-sm-6">
      <h1 class="page-header">rosemary thomas</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>welcome to my about me page!  use the navigation above to explore the site</p>
      </div>
    </div>
  </div>

<section id="home" data-type="background" data-speed="10">
  <article>I am absolute positioned</article>
</section>
<section id="about" data-type="background" data-speed="10">
  <article>simple parallax scroll</article>
</section>

</div>


      