<div class="container">
  <div class="row">

    <h1>rosemary thomas</h1>
    <hr/ >
    <div class="col-sm-6">
      <p>welcome to my about me page!</p>
      <p>use the navigation about to explore the site</p>

    </div>
    <div class="col-sm-6">
      <p>find me on the web</p>
      <p><%= link_to(" instagram", "https://www.instagram.com/sleepingarmy", :class => "fa fa-instagram") %></p>
      <p><%= link_to(" github", "https://github.com/sleepingarmy", :class => "fa fa-github-square") %></p>
      <p><%= link_to(" twitter", "https://twitter.com/sleepingarmy", :class => "fa fa-twitter-square") %></p>
    </div>
  </div>
</div>



      