<div class="container">
  <div class="row">

    <h1>about</h1>
    <hr />
    <div class="row">
      <h2 id="interests">interests</h2>
        <p>I have many interests including gaming, sewing, and education.  I'm always down for some Super Smash Bros. or Mario Kart.  I love to sew quilts and clothes in my spare time.  I'm also passionate about making education better.</p>
    </div>

    <div class="row">
      <h2 id="education">education</h2>
        <p>I recently graduated from DevPoint Labs (DPL) where I took the full stack web development course.  I learned Ruby, the Rails framework, HTML, CSS, Javascript, and many other skills.  I have a Bachelore of Science in general studies with an emphasis in Math Education and a Chemistry minor.</p>
    </div>

    <div class="row">
      <h2 id="work">work</h2>
        <p>I currently work as a web development intern at <%= link_to 'Exposure Tracker', "https://www.exposuretrackerapp.com" %>.  This has been an amazing opportunity for me to get real experience after DPL.  The app is built with Ruby on Rails using Coffeescript, HAML, RSPEC</p>
    </div>

    <div class="row">
      <h2>notable accomplishments</h2>
      <p>While at DPL, I was part of both winning teams for the two hackathons held and I completed a capstone project with three of my peers that we're all very proud of.</h4>
      <div class="col-sm-4">
        <h4>Final capstone project for DPL, a health and fitness goals tracker.</h4>
        <p><%= link_to 'SLCfit', "http://www.slcfit.com" %></p>
      </div>
      <div class="col-sm-4">
        <h4>fiverr clone for second hackathon</h4>
        <p><%= link_to 'sixerr', "http://www.sixerr.herokuapp.com" %></p>
      </div>
      <div class="col-sm-4">
        <h4>food delivery site for second hackathon</h4>
        <p><%= link_to 'gimmegetme', "https://www.github.com/sleepingarmy/food" %></p>
      </div>
    </div>

    <div class="row">
      <h2 id="goals">goals</h2>
        <p>I'm so proud and lucky to call myself and alumni of DPL and an intern at Exposure Tracker.  I hope to continue my career by extending my internship into a jr. web development position in the near future.</p>
    </div>
  </div>
</div>