
= link_to("home", welcome_index_path)
= link_to("about", about_index_path)
= link_to("contact", contact_index_path)

%h1 about

%div
  %h2#interests 
    interests
    %p television, music, technology, politics, blah blah blah

%div
  %h2#education 
    education
    %p usu, math, dpl

%div
  %h2#work
    work
    %p quilt shop, web dev internship, dpl

%div
  %h2#goals
    goals
    %p continue with development.  implement design.
