<div class="container">
  <div class="row">
    <h1>contact me</h1>
    <hr />
    <div class="col-sm-6">
      <p>find me on the web</p>
      <p><%= link_to(" linkedin", "https://www.linkedin.com/in/rosiethom", :class => "fa fa-linkedin-square") %></p>
      <p><%= link_to(" github", "https://github.com/sleepingarmy", :class => "fa fa-github-square") %></p>
      <p><%= link_to(" twitter", "https://twitter.com/sleepingarmy", :class => "fa fa-twitter-square") %></p>
    </div>
  </div>
</div>