
@import "materialize/components/color";
$primary-color: color("teal", "darken-4") !default;
@import 'materialize';

/* FONTS */
body {
  font-family: 'Karla', sans-serif;
}

/*
h2 {
   font-family: 'Pacifico', cursive;
   cursor: pointer;
}

h3 {
  font-family: 'Poiret One', cursive;
}

*/
img.responsive-img {
  max-width: 80% !important;
}
.rosie-img {
  border-radius: 580px;
  size: 50%;
}

.padding-left {
  padding-left: 10px !important;
}

.padding-top {
  padding-top: 20px;
}

p.blurb {
  line-height: 200%;
}

a {
  color: #4db6ac ;
}

.fa {
  font-size: 20px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}