
@import "materialize/components/color";
$primary-color: color("teal", "darken-4") !default;
@import 'materialize';

/* FONTS */
/*
body {
  font-family: 'Raleway', sans-serif;
}

h2 {
   font-family: 'Pacifico', cursive;
   cursor: pointer;
}

h3 {
  font-family: 'Poiret One', cursive;
}

*/

.rosie-img {
  border-radius: 580px;
}