!!!
%html
  %head
  %title Rosie Thomas

  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags 

  / google fonts
  %link{:href => "https://fonts.googleapis.com/css?family=Abril+Fatface|Karla:400,400italic,700,700italic", :rel => "stylesheet", :type => "text/css"}/

  %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/


%body.site

  %header#header
    %h1.name
      ROSIE THOMAS
    %h2.whoami
      Salt Lake City-based full-stack web developer
    / = link_to("enter", about_path, id: 'more')
    %h3.whoami  the site is currently being improved.  please visit again soon!  feel free to contact me at rsm.thomas@gmail.com
      
  #site-content
    #yield.hide
      = yield

  %footer.hide
    .container
      %p
        &copy; Rosemary Thomas 2015
      %p
        rsm.thomas@gmail.com
      
